body  {
    background-color:whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
  }
.jumbotron {
    margin-top: 50px;
    background-color: yellow;
    Color: black
  }
h4  {
  color:black;
}
.btn {
  background-color:rgb(144, 144, 219);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.card-hotel {
    flex: 1 250px;
    margin-top: 10px;
}
footer{
    background-color:yellow;
    padding: 10px 10px 0 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
