@yellow: #f0f00c;
@green: #2af00c;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
  }

body {
    background-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif; 
}
  
  .jumbotron {
    .margenes(50px, 0px);
    background-color: #f0f00c;
    Color: black; 
}
  
  h4 {
    color: black; 
}
  
  .btn {
    background-color: #2af00c; 
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; 
}
  
  .card-hotel {
    flex: 1 250px;
    .margenes(10px, 0px);
  }
  
  footer {
    .margenes(10px, 0px);
    background-color: #f0f00c;
    padding: 10px 10px 0 10px; 
}
  
  .footer-address-icon {
    padding-right: 10px; 
}
  