body {
  background-color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #fce302;
  Color: black; }

h4 {
  color: black; }

.btn {
  background-color: #2af00c; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px; }

footer {
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #fce302;
  padding: 10px 10px 0 10px; }

.footer-address-icon {
  padding-right: 10px; }
