$yellow: #fce302;
$green: #2af00c;
$red: #f00c32;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
  }

body  {
    background-color:whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
  }
.jumbotron {
    @include margenes(50px, 0px);
    background-color: $yellow;
    Color: black
  }
h4  {
  color:black;
}
.btn {
  background-color: $green;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.card-hotel {
    flex: 1 250px;
    @include margenes(10px, 0px );
}
footer{
    @include margenes(10px, 0px);
    background-color: $yellow;
    padding: 10px 10px 0 10px;
}
.footer-address-icon {
  padding-right: 10px;
}
